

@font-face {
    font-family: 'multi';
    src: url("themes/default/assets/fonts/Multicolore.otf") format("opentype");
}

body{
	background-color: #000000;
	color: #fefefe;
	overflow-y: hidden;

}

.ui.positive.basic.button.aTC, .ui.button.rTO {
	
}

.b{
	border: 3px solid white;
}

.bb{
	border: 2px solid black;
}

.l{
	text-align: left;
}

.c{
	text-align: center;
}

.r{

}

.clear{
	clear: both;
}
.ui.button.cUs,#shopBtn,#cartBtn{

	font: 14px bold;
	font-family: "multi";
	background-color: black;
	color: white;
}

#cUs,#shopBtn{
	padding: 0px;
	margin-top: 27px;
}
#cUs{
	padding-right: 15px;
}
.ui.button.rNav, .rNav{
	float: right;
	padding: 20px;
}

.dFont{
	font-family: "multi";
	color: white;

}

#bigLogo{
	
}

#shopGrid{
	display: none;
}
#shop{
	/*height: 160px;*/
}
#shopLogo{
	height: 277px;
	width: auto;
}


.ui.button.shopFilter{
	/*position: relative;
	bottom: 35%;
	left: 7%;*/
	
	margin: 15px;
	
	font-family: "multi";
	font-size: 27px;
	height: 60px;
	width: 330px;
	background-color: black;
	color: white;
	border: 2px solid white;
	border-radius: 0%;



}
#paymentProcess{
	height: 500px;
	padding-top: 5px;
	padding-bottom: 27px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#nxtBtn{
	float: right; 
	position: relative;
	right: 40px;

}
.validation-summary-errors{
	color: red;
}
#shipForm{
	margin-top: .5%;
	padding: 30px;
}
#billForm {
	margin-top: .5%;
	padding: 30px;
}
#cardExp{
	margin-left: 3%;
}
#cardCv{
	margin-right: 3%;
}
.ui.button.shopFilter.activeShop{
	color: black;
	background-color: white;
}

.ui.button.shopFilter.activeShop:hover{
	color: white;
	background-color: black;
}
.ui.button.shopFilter:hover{
	color: black;
	background-color: white;
}

.four.wide.column.c.listParent{
	display: none;
}

.listing{
	background-color: white;
	color: black;
	padding: 9px;
	border-bottom: 3px solid #EAB75C;
	border-radius: 2%;

}
.invTitle,.invPrice,.invCat{
	font-size: 15px;
	font-family: "multi";
	margin-top: 2px;
	margin-bottom: 2px;
}

img.invPic{
	height: 120px;
	width: auto;
}
img.invPic.cart{
	height: 50px;
	width: auto;
}
.ui.positive.basic.button.aTC, .ui.button.rTO {
	width: 99%;
	font-size: 11px;
	height: 30px;
	color: black;
	margin-top: 10px;
	font-family: "multi";
	font-weight: bold;
}

.ui.button.rTO{
	background: white;
	color: black;
	border: 2px solid black;
}

/*#cartList{
	display: none;
	height: 330px;
	overflow: hidden;

}*/

#cartList {
	display: none;
	overflow-y: visible;
	overflow-x: visible;
	position: relative;
	top: -445px;
	height: 433px;
}


#cartRow{
	height:100%;
	overflow-x: visible;
}
#cartTbl.ui.table {
	height: 100%;
	display: inline-grid;
	grid-template-areas: "head-fixed" "body-scrollable" "foot-fixed";
	overflow-x: visible;
	position: relative;
	right: -15px;
	bottom: 20px;
	width: 100%;
}
#cartTblB {
	display: block;
	grid-area: body-scrollable;
	height: 100%;
	overflow-y: auto;
	position: relative;
	top: 0px;
}
#receiptTableB{
	height: 90px;
	display: inline-block;
	grid-area: body-scrollable;
	overflow-y: auto;

}

#receipt{
	position: relative;
	top: -40px;

}
thead{
	display: table;
	grid-area: head-fixed;
	height: 100%;
	
}
tfoot{
	height: 100%;
	display: table;
	grid-area: foot-fixed;
}
thead tr, tfoot tr{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
tbody tr{
	display: table;
	table-layout: fixed;
	height: 90%;
	width: 100%;
}
tbody tr td {
}

#cartRowFrame {
	height: 20px;
}

#bottomNav{
	width: 100%;
	display: none;
	position: relative;

	top: 0px;
	z-index: 0;

}
#botButRow{
	background-color: black;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
a.iconBot{
	position: relative;
	top: 0px;
}

.bNavB{
	margin-top: 20px;
}
#email{
	display: none;
	font: 11px bold;
	font-family: "multi";
	margin-top: 7px;
}
.uConstruction{
	margin-top: 35px;
	font: 27px bold;
	font-family: "multi";
}

i.navicons{
	font: 33px bold;
	padding: 15px;
}

a{
	color: white;

}

a.review{
	color: black;
	text-decoration: underline;
	font-family: "multi";
	font-size: 17px;
}

a:hover{
	color: #EAB75C;
}
.gold {
	color: #EAB75C;
}
.floating.ui.circular.red.label.notification{
	position: relative;
	right: 20px;
}

img#logo{
	margin-top: 70px;
	height: auto;
	width: 500px;
}
#shopUI{
	background-color: black;
	overflow-y: scroll;
	overflow-x: hidden;
}
#shopJS{
	overflow-y:scroll;
}
#cUsB{
	padding-right: 0px;
}
.submitShipping {
	position: absolute;
	right: 23px;
}
.submitBill {
	position: absolute;
	bottom: 37px;
	right: 27px;
}

@media all and (max-width: 767px){

		
	

		#receiptTbl{
			width: 80%;
			margin-top: 30px;
			margin-left: 27px;
		}
		#cartTblB{
			height: 100%;
			max-height: 190px;
		}
		#shopBtnFrame{
			position: relative;
			bottom: 77px;
		}
		#software,#equipment,#merchandise{
			padding-bottom: 50px;
		}
		#software,#equipment{
			display: none;
		}
		#shop{
			height: 377px;
		}
		#shopUI{
			height: 500px;
			
			
		}
	img#logo {
		margin-top: 70px;
		height: auto;
		width: 500px;
	}

}

@media all and (min-width: 767px){
	tbody tr {
		
		height: 60%;

	}
	#cartList {
		top: -300px;
		height: 300px;
	}


	img#logo {
		margin-top: 70px;
		height: auto;
		width: 500px;
	}

	#shopUI{
		/*border: 2px solid yellow;*/
		height: 625px;
		
	}

	#bottomNav{

	position: relative;

	bottom: 300px;


}
#cartRowFrame{
	height: 320px;
}

.ui.button.shopFilter{
		margin: 0;
		margin-top: 90px;
		height: 50px;
		width: 170px;
		font-size: 18px;
		padding: 0;
		padding-top: 10px;

	}

	#shopBtnFrame{
		text-align: right;
	}
	img#shopLogo {
		position: relative;
		top: 30px;
		right: 20%;
		width: 200px;
		height: auto;
	}
	h4.invTitle{
		font-size: 17px;

	}
	.ui.positive.basic.button.aTC,.ui.button.rTO{
		font-size: 12px;
		height: 30px;
	}
	#botButRow {
		background-color: black;
		position: fixed;
		bottom: 0px;
		left: 0px;
	}
}

@media all and (min-width: 991px){
	#botButIcons{
		position:relative;
		left: 10%;
	}
	#botButFuncts {
		position: relative;
		right: 10%;
	}
	.ui.button.shopFilter{
		margin: 0;
		margin-top: 90px;
		height: 50px;
		width: 170px;
		font-size: 18px;
		padding-top: 10px;
	}
}