@model WebApplication1.Models.ViewModels.CardVM

@Html.ValidationSummary();

<div style="color: green;">Purchase Complete :)</div>
<div style="color: red">@ViewBag.eM</div>


<!-- NEED SCRIPT ON THIS PAGE-->
<!--If Error Message-->
<!--Keep Everything as is-->
<!--Replace Comfirm Payment Button's Classes and Label to Retry-->
<!--Clear CVC-->


<!-- IF NO ERROR MESSAGES/VALIDATION SUMMARY -->
<!-- Hide Pay Button -->
<!--  Fade Out Forms -->
<!-- Keep Receipt -->
<!-- Add Comment Section-->
<!-- THANK YOU ! -- Nice Motivating Message-->
<!-- Shipping Policy / Notify of Email Sent / Contact Information -->
<!-- Send Email (MAILKIT PACKAGE)-->
