<div id="paymentProcessHeader" class="header">Order Summary</div>




    <div id="orderSum" class="ui stackable centered grid">
        <div class="five wide column">
            <div class="ui form">
                <div class="field">
                    <label>Comments Regarding this Order</label>
                    <textarea style="height: 333px;"></textarea>
                </div>

            </div>

        </div>
        <div class="ten wide column">
            <table class="ui table">
                <thead class="c">
                    <tr>
                        <th class="one wide">
                            Quantity
                        </th>
                        <th class="two wide">
                            Product Name
                        </th>
                        <th class="eight wide">
                            Product Information
                        </th>
                        <th class="five wide">
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody class="c">
                    <tr>
                        <td>2 x</td>
                        <td>Face Mask</td>
                        <td><img class="invPic" src="~/Images/mask.jpg"></td>
                        <td>$24</td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="2" style="text-align: right;">
                            <h5>
                                Subtotal: $29
                            </h5>
                            <h5>
                                Shipping: <a style="color: green;">FREE</a>
                            </h5>
                            <h5>
                                Order Total: $37. 40
                            </h5>
                        </th>
                        <th colspan="2" style="text-align: center;">
                            <div class="ui green button" style="width: 85%">
                                Checkout
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

<div id="nxtBtn" class="ui green button"> Next </div>
